<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <div class="container">
        <!-- ============ HEADER ============ -->
      <%- include('./partials/header.ejs')%>
      <!-- ============ MAIN ============ -->
      <main>
        <div>
            <h1>Pokedex</h1>
                <ul>
                    <div class="container top-container">
                    <% for(let i = 0; i < allPokemon.length; i++) { %>
                        <div class="container">
                        <h3><%=allPokemon[i].name %></h3>
                        <a href="/pokemon/<%=i%>"><img src=<%=allPokemon[i].img %>></a>
                        <style>
                            img:hover {
                            transform: scaleX(-1);
                            }
                        </style>
    
                        <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
                            <input class="button" type="submit" value="DELETE" />
                            <button class="button"><a href="/pokemon/<%=i%>/edit">Edit</a></button>
                        </form>
                        </div>   
                    <% } %>
                </ul>
            </div>
        </div>
      </main>    
    </div>
</body>
</html>