<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Show Pokemon</title>
</head>

<body>
    <div class ="body-overlay">
    <!-- ============ HEADER ============ -->
    <%- include('./partials/header.ejs')%>
    <!-- ============ MAIN ============ -->
        <main class="show-main">
            <div><img src="<%= allPokemon.img %>"></div> 
            <div class="data">
                <div>
                    <h2> <%= allPokemon.name %></h2>
                    <div>type: <%= allPokemon.type%></div>
                    <div>hp: <%= allPokemon.stats.hp %></div>
                    <div>attack: <%= allPokemon.stats.attack %></div>
                    <div>defence: <%= allPokemon.stats.defense %></div>
                    <div>spattack: <%= allPokemon.stats.spattack %></div>
                    <div>spdefense: <%= allPokemon.stats.spdefense %></div>
                    <div>speed: <%= allPokemon.stats.speed %></div>    
                </div>
            </div>
            <br>
            <!-- <button class = 'btn'><a href="/pokemon/new">Add a new Pokemon</a></button> -->
            </div>
        </main>
  </body>
